/* <style type=text/css> */

/*
td.leftcol {
    text-align:         left;
    width:              18%;
}

td.midcol {
    text-align:         center;
    width:              24%;
}  

td.rightcol {
    text-align:         right;
    width:              10%;
}

h3 {
    background-color:  #d3d3d3;
    font-size:        	120%;
}
*/

</style>
